<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.llmj.mjpaas.mapper.AuthRoleMapper" >

    <select id="findRolesByUserName" resultType="AuthRole" parameterType="AuthRole" >

     SELECT
	    role.*
    FROM
	  auth_user u
	LEFT JOIN auth_user_role u_role ON u.userid = u_role.user_id
	LEFT JOIN auth_role role ON u_role.role_id = role.id
        where
    	u.username = #{username}
    </select>


</mapper>